@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');


:root {
    /* COLORES */
    --magenta: rgb(255, 22, 84);

    --rojo: rgb(255, 51, 51);
    --rojo-90: rgba(255, 51, 51, 0.9);
    --rojo-50: rgba(255, 51, 51, 0.5);
    --rojo-70: rgba(255, 51, 51, 0.7);

    --azul: rgb(29, 132, 181);
    --azul-70: rgba(29, 132, 181, 0.7);

    --negro: rgb(31, 31, 31);
    --negro-50: rgba(31, 31, 31, 0.5);
    --negro-30: rgba(31, 31, 31, 0.3);

    --fondo-oscuro: rgb(48, 52, 63);
    --fondo-claro: rgb(250, 250, 250);
    --blanco: #ffffff;

    /* FAMILIAS DE FUENTES */
    --font-inter: 'Inter', sans-serif;
    --font-raleway: 'Raleway', sans-serif;

    /* TAMAÑOS DE FUENTES */
    --font-46-display: 4.6em;
    --font-38-jumbo: 3.8em;
    --font-30-xlarge: 3em;
    --font-24-large: 2.4em;
    --font-18-medium: 1.8em;
    --font-16-small: 1.6em;
    --font-14-xsmall: 1.4em;
    --font-12-xxsmall: 1.2em;

    /* ESPACIADOS */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2.0rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-inter);
    font-size: 62.5%;
    color: var(--negro);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header,
footer {
    font-family: var(--font-raleway);
    color: var(--blanco);
}

ul,
ol {
    list-style-type: none;
}

p {
    font-size: var(--font-16-small);
}

img {
    width: 100%;
}

.container {
    /* max-width: 1200px; */
    width: clamp(260px, 90%, 1280px);
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: var(--fondo-oscuro);
    padding: var(--spacing-36) 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    min-width: 150px;
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__link {
    position: relative;
    font-size: var(--font-18-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background-color .3s ease-in-out;
    color: var(--blanco);
}

.navbar__link:hover {
    background-color: var(--rojo-90);
}

.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--fondo-oscuro);
    z-index: 3;
}

.submenu__item {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-18-medium);
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

.submenu__item:hover {
    background-color: var(--rojo-90);
}

/* HERO */
.hero {
    background-image: url("../img/funkos-banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: var(--spacing-128) 0;
    background-attachment: fixed;
    position: relative;
}

.hero::before {
    content: "";
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.7);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
}

.hero__title {
    font-family: var(--font-raleway);
    font-size: var(--font-38-jumbo);
    color: var(--blanco);
}

.hero__text {
    font-family: var(--font-raleway);
    font-size: var(--font-18-medium);
    color: var(--blanco);
}

.hero__link {
    display: inline-block;
    font-size: var(--font-18-medium);
    background-color: var(--fondo-claro);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: background-color .3s ease-in-out;
}

.hero__link:hover {
    background-color: var(--rojo-90);
    color: var(--fondo-claro);
}

/* COLECCIONES */
.collection {
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    margin: var(--spacing-28) 0;
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
    order: -1;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title {
    font-family: var(--font-raleway);
    font-size: var(--font-46-display);
    font-weight: 500;
}

.collection__text {
    font-family: var(--font-raleway);
    font-size: var(--font-24-large);
    font-weight: 300;
    border-bottom: 2px solid var(--rojo);
    padding-bottom: var(--spacing-20);
}

.collection__link {
    display: inline-block;
    font-size: var(--font-18-medium);
    background-color: var(--fondo-oscuro);
    color: var(--blanco);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: var(--spacing-68);
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;
}

.collection__link:hover {
    background-color: var(--rojo-90);
}

/* ULTIMOS LANZAMIENTOS */
.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider__title {
    font-family: var(--font-raleway);
    font-size: var(--font-46-display);
    text-transform: uppercase;
}



.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__licence {
    font-size: var(--font-14-xsmall);
    font-weight: 500;
}

.card-item__name {
    font-size: var(--font-18-medium);
    text-transform: uppercase;
    font-weight: 700;
}

.card-item__price {
    font-size: var(--font-16-small);
    font-weight: 500;
}

.card-item__promo {
    font-size: var(--font-14-xsmall);
    color: var(--azul);
    font-weight: 500;
    text-transform: uppercase;
}

.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__cover img {
    animation: fade 1.2s;
}

.card-item__img--back {
    display: none;
}

.card-item:hover .card-item__img--back {
    display: block;
}

.card-item:hover .card-item__img--front {
    display: none;
}

.card-item__tag {
    color: var(--blanco);
    background-color: var(--rojo);
    font-size: var(--font-14-xsmall);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}

iconify-icon {
    color: var(--fondo-claro);
    font-size: var(--font-16-small);
    font-weight: 700;
}

/* Animacion */
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.glide__arrow {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glide__arrow:hover {
    background-color: var(--fondo-claro);
}

.glide__arrow--left {
    left: 0;
}

.glide__arrow--right {
    right: 0;
}

/* FOOTER */
.footer {
    background-color: var(--fondo-oscuro);
    padding: var(--spacing-68) 0;
}

.footer__copy {
    text-align: center;
    margin-top: var(--spacing-36);
}

/* PAGINA DE ITEMS */
.items__content {
    display: flex;
    align-items: center;
    margin: var(--spacing-68) 0;
}

.items img {
    width: 100%;
}

.item__img {
    /* min-width: 300px;
    max-width: 550px; */
    cursor: pointer;
}

.items__details {
    display: flex;
    flex-direction: column;
}

.items_licence {
    font-size: var(--font-14-xsmall);
}

.items__name {
    font-size: var(--font-30-xlarge);
    padding: var(--spacing-16) 0;
}

.items__text {
    font-size: var(--font-24-large);
    padding: var(--spacing-16) 0;
}

.items__price {
    font-size: var(--font-38-jumbo);
}

.items__cart {
    padding: var(--spacing-20) 0;
    display: flex;
}

.items__input {
    width: 106px;
    height: 38px;
    text-align: center;
    font-size: var(--font-24-large);
    border: 1px solid var(--negro-30);
}

.items__cart--btn {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 5px;
    justify-content: space-between;
}

.items__cart--mas,
.items__cart--menos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    height: 18px;
    width: 18px;
    background-color: var(--fondo-oscuro);
    color: var(--blanco);
    border: none;
    border-radius: 3px;
}

.items__cart--mas:hover,
.items__cart--menos:hover {
    background-color: var(--rojo);
    cursor: pointer;
}

.items__addcart {
    width: 181px;
    height: 38px;
    background-color: var(--rojo);
    border: none;
    color: var(--blanco);
    font-size: var(--font-18-medium);
    cursor: pointer;
}

.items__addcart:hover {
    background-color: var(--rojo-70);
}

.items__promo {
    font-size: var(--font-14-xsmall);
    font-weight: 700;
    color: var(--azul);
}

.items__promo a {
    text-decoration: underline;
}

.items__promo a:hover {
    color: var(--azul-70);
}

iconify-icon.icon {
    color: var(--fondo-oscuro);
    font-size: var(--font-14-xsmall);
}

iconify-icon.icon:hover {
    color: var(--negro-50);
}

/* PAGINA SHOP */
.shop__form {
    border-bottom: 1px dotted var(--negro-30);
}

.form__search {
    padding: 68px 0;
    width: clamp(250px, 250px, 100%);
    margin: auto;
}

.form__search--item {
    gap: var(--spacing-16);
}

label {
    font-size: var(--font-18-medium);
    font-weight: 600;
}

.shop {
    display: flex;
}

.shop__items {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacing-68) 0;
}

.shop__item {
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);*/
    margin: var(--spacing-8);
    flex: 1 1 clamp(250px, 30%, 30%);
}


.precio {
    margin: var(--spacing-16) 0;
}

.precio label {
    font-weight: 600;
    font-size: var(--font-12-xxsmall);
    padding-right: 10px;
}

.precio span {
    padding: 0 8px;
    font-size: var(--font-16-small);
}

.precio input {
    border: 2px solid var(--fondo-oscuro);
    border-radius: 5px;
    font-size: var(--font-18-medium);
    text-align: center;
}

.form__search--item input,
.form__search--item select {
    font-size: var(--font-18-medium);
}

.checkbox__content {
    padding: var(--spacing-20);
}

.form-check {
    display: flex;
    align-items: center;
}

.checkbox__label {
    font-size: var(--font-14-xsmall);
    padding-left: 4px;
}

.form-check-input {
    width: var(--spacing-16);
    height: var(--spacing-16);
    border: 2px solid var(--fondo-oscuro);
}

.form-select-lg {
    border: 2px solid var(--fondo-oscuro);
}

.pagination {
    display: flex;
    justify-content: center;
    gap: var(--spacing-12);
    padding-top: var(--spacing-68);
}

.pagination .pagination__link {
    display: block;
    font-size: var(--font-14-xsmall);
    font-weight: 700;
    border-radius: 4px;
    padding: var(--spacing-12) var(--spacing-16);
    border: 2px solid var(--negro-30);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.pagination .pagination__link:first-of-type,
.pagination .pagination__link:last-of-type {
    color: var(--negro-50);
}

.pagination .pagination__link:hover {
    background-color: var(--rojo);
    color: var(--fondo-claro);
    border-color: var(--rojo-50);
}

.pagination .pagination__link--selected {
    border-color: var(--rojo);
    color: var(--rojo);
}

/* PAGINA DE LOGIN */
.login {
    min-height: 100vh;
}

.login__box {
    width: clamp(250px, 100%, 515px);
    margin: var(--spacing-128) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-24);
}

.login__title {
    font-family: var(--font-raleway);
    font-weight: 700;
    text-align: center;
    font-size: var(--font-38-jumbo);
    letter-spacing: 1px;
}

.login__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: var(--spacing-28);
}

.form__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: var(--spacing-16);
}

.form__label {
    font-family: var(--font-inter);
    font-size: var(--font-24-large);
    font-weight: 500;
}

.form__input {
    border: none;
    border-bottom: 2px solid #ff3333;
    font-size: var(--font-16-small);
}

.form__input:focus {
    outline: none;
}

.form__input#password {
    font-size: var(--font-24-large);
}

.login__box .form__link {
    font-size: var(--font-small);
    text-align: center;
}

.form__submit {
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
    justify-content: center;
    margin: var(--spacing-16) 0;
}

.form__btn {
    width: 103px;
    height: 39px;
    background-color: var(--rojo);
    border: none;
    color: var(--fondo-claro);
    font-size: var(--font-14-xsmall);
}

.checkbox__label--login {
    font-family: var(--font-inter);
    font-size: var(--font-18-medium);
    font-weight: 400;
    padding-left: 4px;
}

input[type=checkbox] {
    appearance: none;
}

.form-check-login {
    width: var(--spacing-16);
    height: var(--spacing-16);
    border: 2px solid var(--fondo-oscuro);
    border-radius: 3px;
}

/* PAGINA CART */
.cart__content {
    margin: var(--spacing-68) auto;
    min-height: 350px;
}

.cart__title {
    display: inline;
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: var(--font-46-display);
    border-bottom: 4px solid var(--rojo);
}

/* Media queries */
@media (max-width:768px) {
    .collection:nth-child(1) .collection__cover {
        order: -1;
    }

    .collection:nth-child(3) .collection__cover {
        order: -1;
    }
}